.add-property {
  padding: 1rem;
  width: 20rem;
  margin: 7rem auto;
  background-color: #fff;
  border-radius: 0.3rem;
}

.add-property__form-item {
  padding: 1rem;
  position: relative;
}

#bathrooms, #bedrooms {
  padding: 0.5rem;
  width: 2rem;
  position: absolute;
  left: 6.5rem;
  bottom: 0.4rem;
}

#price {
  padding: 0.5rem;
  width: 7.8rem;
  position: absolute;
  left: 6.5rem;
  bottom: 0.4rem;
}

#city, #type {
  padding: 0.5rem;
  width: 9rem;
  position: absolute;
  left: 6.5rem;
  bottom: 0.4rem;
}

#email, #title {
  padding: 0.5rem;
  width: 11.2rem;
  position: absolute;
  left: 6.5rem;
  bottom: 0.4rem;
}

.add-property__button {
  width: 18rem;
  padding: 0.5rem;
  border: none;
  margin: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #83bcff;
  color: #17144a
}

.add-property__button:hover {
  background-color: #17144a;
  color: #fff;
}