.navbar {
  background-color: #fff;
  border-bottom: #888;
  display: flex;
}

.navbar-logo {
  width: 3em;
  height: 3em;
  padding: 1em;
  margin-right: 1em;
  align-self: center;
}

.navbar-title {
  margin-right: 1em;
  align-self: center;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.navbar-links-item {
  margin-top: 0.2em;
  padding: 0 1em;
  list-style-type: none;
  text-decoration: none;
  align-self: center;
}

.navbar-links-item:link {
  color: black;
}

.navbar-links-item:visited {
  color: black;
}