.navbar {
  background-color: #fff;
  border-bottom: #888;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-logo {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  align-self: center;
}

.navbar-title {
  margin-right: 1rem;
  align-self: center;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.navbar-links-item {
  margin-top: 0.2rem;
  padding: 0 1rem;
  list-style-type: none;
  text-decoration: none;
  align-self: center;
}

.navbar-links-item:link {
  color: #000000;
}

.navbar-links-item:visited {
  color: #000000;
}

.navbar-button {
  width: 7rem;
  height: 4rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #83bcff;
  border: none;
  border-radius: 0.3rem;
}

.navbar__alert {
  position: absolute;
  top: 0.8rem;
  left: 45rem;
}