.properties {
  background-color: #ddd;
}

.properties__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 13.5rem;
  margin-top: 5rem;
}

.properties__alert {
  margin: 9rem auto;
}

@media screen and (max-width:480px) {
  .properties__cards {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 5rem 0;
    padding-top: 18.5rem;
  }

  .properties__alert {
    margin: 25rem auto;
  }
}

@media screen and (min-width:481px) and (max-width:767px) {
  .properties__cards {
    grid-template-columns: 1fr 1fr;
    margin-left: 11rem;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .properties__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 11rem;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .properties__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

