.property-card__container {
  display: inline-block;
}

.property-card {
  width: 15.5rem;
  min-height: 14.5rem;
  background-color: #fff;
  padding-bottom: 0.7rem;
  margin: 0.25rem 0 0 0.25rem;
}

.property-card__logo-container {
  display: flex;
  justify-content: center;
}

.property-card__logo {
  width: 3rem;
  padding: 0.2rem;
}

.property-card__text-field {
  height: 1.7rem;
  margin-left: 1rem;
}

.property-card__icon-field {
  padding: 0.3rem 1rem;
}

.property-card__icon {
  width: 1rem;
}

.property-card__bold {
  font-weight: bolder;
}

.property-card__italic {
  font-style: italic;
}

.property-card__email {
  background-color: #83bcff;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

.property-card__link {
  text-decoration: none;
  color: #000; 
}

.property-card__save {
  background-color: #83bcff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 0.9rem;
  text-align: center;
  width: 88%;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

.property-card__email:hover, .property-card__save:hover {
  background-color: #67ffda;
  border: 1px solid #17144a;
  cursor: pointer;
} 
