.sign-up__form {
  width: 11rem;
  margin: 7rem auto;
  padding: 1rem;
  border: 1px solid #17144a;
  border-radius: 0.3rem;
}

.sign-up__item {
  padding: 0.5rem;
}

#sign-up__password, #sign-up__email {
  width: 9rem;
  padding: 0.4rem;
}

.sign-up__button {
  width: 10rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background-color: #83bcff;
  color: #17144a;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.sign-up__button:hover {
  background-color: #67ffda;
  border: 1px solid #17144a;
  cursor: pointer;
}

.sign-up__text {
  margin: 0.5rem;
  text-align: center;
}

.sign-up__link {
  text-decoration: none;
  cursor: pointer
}

.sign-up__link:link {
  color: #000000;
}

.sign-up__link:visited {
  color: #000000;
}